.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* We redefine the horizontal margin for row and padding for column but only for the DrumPadBoard. */
.DrumPadBoard .row {
  margin-left: -.5rem;
  margin-right: -.5rem;
}

.DrumPadBoard .col {
  /* in addition to changing the default horizontal padding for the DrumPadBoard, 
  we add vertical padding */
  padding: .5rem;
}

.DrumPad {
  min-height: 48px;
  min-width: 48px;
  width: 100%;
  position: relative;
  padding: 0px;
}
.DrumPad:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.DrumPadText {
  position: absolute;
  width: 100%;
  height: 100%;
}

.Toggle legend {
  font-size: 1rem;
}